<h1>Order list</h1>
<%= search_form_for @q do |f| %>
  <section>
    <%= f.label :status_eq %>
    <%= f.search_field :status_eq %>
  </section>
  <br>
  <section>
    <%= f.label :order_number_eq %>
    <%= f.search_field :order_number_eq %>
  </section>

  <%= f.submit %>
<% end %>

<section>
  <h2>
    <%= link_to "Create", new_order_path %>
  </h2>
  <table>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Price</th>
      <th>Status</th>
    </tr>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_number %></td>
        <td><%= link_to order.product_name, order_path(order) %></td>
        <td><%= order.price %></td>
        <td><%= order.status %></td>
      </tr>
    <% end %>
  </table>
</section>
