<h1>New Order</h1>

<%= form_with model: @order do |form| %>
  <div>
    <%= form.label :product_name %><br>
    <%= form.text_field :product_name %>
  </div>

  <div>
    <%= form.label :price %><br>
    <%= form.number_field :price %>
  </div>
  <div>
    <%= form.submit "Create" %>
  </div>
  <br>
  <%= link_to "Voltar à Lista", orders_path %>
<% end %>
